data/data_calibsample/*
data/tensorboard_logdir/*
data/weights/*
research/Figures/
research/Figures*/
research/exported_model/
research/preprocessors/
research/tensorboard_logdir/
tensorboard_logdir/
pdfs/
*.idea
*.pyc
*.DS_Store
*.ipynb_checkpoints
*.o
*.out
research/weights
*.swp
*.mypy_cache/
*.pkl
*.csv
jupyterhub-proxy.pid
